<ion-view title="Categorie" align-title=center>
    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
           <ion-item ng-repeat="category in categories" href="#/lists/{{category.id}}">
                {{category.category_name}}
                 <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(category)"></ion-option-button>
                 </ion-list>
    </ion-content>

    <ion-footer-bar class="bar-calm" align-title="center" ng-click="insert()">
    <a ui-sref="detail"><h1 class="title">Aggiungi</h1></a>
</ion-footer-bar>
</ion-view>


        
  