   <ion-view title="Termini e condizioni">

 <ion-content>
   <ion-item menu-close href="#/categories">
   <button class="button icon-left ion-home">
          Torna alla tab principale
      </button>
        </ion-item>

        <div class="list">

    <a class="item item-avatar" href="#/img">
      <img src="pp.jpg">
      <h2>Gianni</h2>
      <p>All'improvviso vide qualcosa...</p>
    </a>
</div>

<div class="card">
  <div class="item item-text-wrap assertive ">
	Questa è una "card" di prova per vedere se funziona,Diciamo il millesimo test dopo che non è mai andato.
	  </div>
</div>

    </ion-content>
        </ion-view>