<ion-view title="Promemoria">
    <ion-content>
<ion-list show-delete="false" can-swipe="true">
    <ion-item ng-repeat="item in items">
        {{item.todo_list_item_name}}
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(item)"></ion-option-button>
    </ion-item>
</ion-list>
    </ion-content>
</ion-view>


    
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-calm" align-title="center" ng-click="insert()">
    <a ui-sref="detail"><h1 class="title">Aggiungi</h1></a>
</ion-footer-bar>