<ion-view title="Liste" align-title=center>
    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="list in lists" href="#/items/{{list.id}}">
                {{list.todo_list_name}}
                 <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(list)"></ion-option-button>
                 </ion-list>

                            <ion-item menu-close href="#/categories">
  <button class="button button-clear button-positive">
  Torna alla tab principale
</button>
    </ion-content>

    <ion-footer-bar class="bar-calm" align-title="center" ng-click="insert()">
    <a ui-sref="detail"><h1 class="title">Aggiungi</h1></a>
</ion-footer-bar>
</ion-view>